@font-face {
    font-family: "quicksand";
    font-style: normal;
    src: local(''),
         url('../fonts/quicksandbold.woff2') format('woff2'),
         url('../fonts/quicksandbold.woff') format('woff');
  }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: local(''),
         url('../fonts/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto.woff') format('woff');
}
  
 
