.page-header {
    position: fixed;
    top: 0;
    width: 500px;
    margin-top: 0;
    background: white;
    padding: 10px;
    font-family: "Quicksand";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    display: flex;
    flex-direction: row;

    &__button {
        color: #3A79FF;
        width: 113px;
        height: 43px;
        background: #D2E1FF;
        border-radius: 2px;
        border: none;
    }
}



